@model Arengo6_MVC.Models.Project

@{
    ViewBag.Title = "ProjectDetails";
}

<h2>ProjectDetails</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectTags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTags)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "ProjectEdit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "ProjectIndex")
</p>
